<form [formGroup]="userData"
(ngSubmit)="onSubmit()"
class="flex flex-col w-1/3 mx-auto mt-20 p-4 rounded border  border-slate-600 gap-5">
    <h1 class="text-center">Login</h1>
    <div class="flex flex-col">
        <label for="email" class="text-slate-400 text-sm">Email</label>
        <input 
        formControlName="email"
        required
        type="email" 
        placeholder="Email" 
        id="email" 
        class="input">

        <!-- dirty - то что уже в поле уже что то вводили, touched - если на поле кликнули -->
        <div *ngIf="userData.controls['email'].invalid && (userData.controls['email'].dirty || userData.controls['email'].touched)" class="text-red-500 text-xs mt-2">
            <div *ngIf="userData.controls['email'].hasError('required')">
                Email is required
            </div>
            <div *ngIf="userData.controls['email'].hasError('email')">
                Please enter a valid email adress
            </div>
        </div>

    </div>
    <div class="flex flex-col">
        <label for="password" class="text-slate-400 text-sm">Password</label>
        <input 
        formControlName="password"
        required
        type="password" 
        placeholder="Password" 
        id="password" 
        class="input">

        <!-- dirty - то что уже в поле уже что то вводили, touched - если на поле кликнули -->
        <div *ngIf="userData.controls['password'].invalid && (userData.controls['password'].dirty || userData.controls['password'].touched)" class="text-red-500 text-xs mt-2">
            <div *ngIf="userData.controls['password'].hasError('required')">
                Password is required
            </div>
            <div *ngIf="userData.controls['password'].hasError('minlength')">
                Password must be more then 6 symbols
            </div>
        </div>
    </div>
    <div class="flex items-center gap-4 mt-5 justify-end">
         <!-- если не валидные данные то кнопка будет заблокирована -->
        <button 
        [disabled]="!userData.valid"
        class="btn btn-green">Confirm</button>
        <button class="btn btn-red">Cancel</button>
    </div>
</form>

