<header class="shadow-sm py-2">
    <div class="container mx-auto grid grid-cols-2 gap-5 justify-between py4">
        <a href="#">Logo</a>
        <nav *ngIf="this.authService.isAuthSig(); else isNotAuth" class="justify-end flex">
            <ul class="flex gap-5 items-center">
                <li class="text-white/50">
                    <a routerLink=""
                    routerLinkActive="text-white"
                    [routerLinkActiveOptions]="{exact:true}"
                    href="#">Home</a> 
                    <!-- [routerLinkActiveOptions]="{exact:true}" - дополнительная опция чтобы если кликать по другой ссылки она не подсвечивалась белым цветом -->
                </li>
                <li class="text-white/50">
                    <a routerLink="profile" routerLinkActive="text-white" href="#">Profile</a>
                </li>
                <li class="text-white/50">
                    <button class="flex" (click)="logoutHandler()">
                        <fa-icon [icon]="logoutIcon" class="text-white"></fa-icon>
                    </button>
                </li>
            </ul>

        </nav>
        <ng-template #isNotAuth>
            <ul class="flex items-center gap-4 ml-auto">
                <li><a routerLink="signup">SinUp</a></li>
                <li><a routerLink="login">Login</a></li>
            </ul>
        </ng-template>
    </div>
</header>
